<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./static/styles.css') }}">
</head>
<body>
    <div class="profile-container">
        <h1>User Profile</h1> 
        <p><strong>Name:</strong> {{ user_name }}</p>
        
        <h2>Friends</h2>
        <ul>
            {% for friend in friends %}
                <li>{{ social_graph.value(friend, FOAF.name) }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>